.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  input {
    padding: 10px 12px;
    min-height: 40px;
    border: 1px solid #03071214;
    border-radius: 6px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 400;
    &:focus {
      border-color: #03071257;
      outline: none;
    }
  }
}
